# --- Shopware Core Folders ---
/bin/
/config/
/files/
/public/
/src/
/var/
/vendor/

# --- Environment & Tooling ---
.devenv/
.direnv/
.idea/
.vscode/
devenv.lock
devenv.nix
devenv.yaml
.env*
auth.json
install.lock
symfony.lock
composer.lock
package-lock.json

# --- Data & Logs ---
*.log
csv_data.csv
